.header {
    border-radius: 4px;
    padding: 4px;
    display: flex;
    flex-direction: row;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 32px;
    flex-direction: row;
}

.navigation a:hover {
    color: #f0f0f0f0;
    text-decoration: underline;
}